<!-- COLOR SCHEME -->

<ul class="colors-styleguide">
  <li class="colors-styleguide-1">Main background</li>
  <li class="colors-styleguide-2">Complementary background</li>
  <li class="colors-styleguide-3">Light background</li>
  <li class="colors-styleguide-4">Border</li>
  <li class="colors-styleguide-5">Dark text</li>
  <li class="colors-styleguide-6">Light text</li>
</ul>

<a class="color-link-default" href="#">Link default</a>
<a class="color-link-visited" href="#">Link visited</a>
<a class="color-link-hover" href="#">Link hover</a>
<a class="color-link-active" href="#">Link active</a>
