<!-- GRID -->

<!-- Six cells -->
<div class="l-row l-row-styleguide">
  <div class="l-cell l-cell-2">Cell-2</div>
  <div class="l-cell l-cell-2">Cell-2</div>
  <div class="l-cell l-cell-2">Cell-2</div>
  <div class="l-cell l-cell-2">Cell-2</div>
  <div class="l-cell l-cell-2">Cell-2</div>
  <div class="l-cell l-cell-2">Cell-2</div>
</div>

<!-- Four cells -->
<div class="l-row  l-row-styleguide">
  <div class="l-cell l-cell-3">Cell-3</div>
  <div class="l-cell l-cell-3">Cell-3</div>
  <div class="l-cell l-cell-3">Cell-3</div>
  <div class="l-cell l-cell-3">Cell-3</div>
</div>

<!-- Three cells -->
<div class="l-row  l-row-styleguide">
  <div class="l-cell l-cell-4">Cell-4</div>
  <div class="l-cell l-cell-4">Cell-4</div>
  <div class="l-cell l-cell-4">Cell-4</div>
</div>

<!-- Nested cells -->
<div class="l-row l-row-styleguide">
  <!-- Five cells with two nested cells -->
  <div class="l-cell l-cell-7">Cell-7
    <div class="l-row">
      <div class="l-cell l-cell-4">Nested Cell-4</div>
      <div class="l-cell l-cell-3">Nested Cell-3</div>
    </div>
  </div>
  <!-- Three cells with two nested cells -->
  <div class="l-cell l-cell-5">Cell-5
    <div class="l-row">
      <div class="l-cell l-cell-2">Nested Cell-2</div>
      <div class="l-cell l-cell-3">Nested Cell-3</div>
    </div>
  </div>
</div>

<!-- One cell -->
<div class="l-row l-row-styleguide">
  <div class="l-cell l-cell-12">Cell-12</div>
</div>
