<!-- Static copy of the component -->
<nav aria-label="Browse log">
  <ul class="nav-posts">
    <li class="nav-posts__prev">
      <a rel="prev" class="nav-posts__prevlink" title="Previous" href="#"><span class="nav-log__text is-visuallyhidden" aria-label="Older posts">Prev</span></a>
    </li>
    <li class="nav-posts__next">
      <a rel="next" class="nav-posts__nextlink" title="Next" href="#"><span class="nav-log__text is-visuallyhidden" aria-label="Newer posts">Next</span></a>
    </li>
  </ul>
</nav>