<!-- SECTIONING ELEMENTS -->

<h1>A very long Heading 1 title that also has a <a href="#">link</a></h1>
<h2>A very long Heading 2 title that also has a <a href="#">link</a></h2>
<h3>A very long Heading 3 title that also has a <a href="#">link</a></h3>
<h4>A very long Heading 4 title that also has a <a href="#">link</a></h4>
<h5>A very long Heading 5 title that also has a <a href="#">link</a></h5>
<h6>A very long Heading 6 title that also has a <a href="#">link</a></h6>

<h2 class="section-heading">Section heading</h2>

<h2 class="p-name entry-title">
  <a class="p-name__link u-url ga-entry-title" href="" rel="bookmark">Entry title link in collection</a>
</h2>
