<article class="h-entry h-entry--in-collection hentry">

  {% if post.image.path %}
  <img class="entry-img" src="{{post.image.path}}" alt="" />
  {% else %}
  <div class="entry-img entry-img--noimg">
    <span class="entry-img--noimg__placeholder" aria-hidden="true">no cover image yet</span>
  </div>  
  {% endif %}

  {% include post-meta-in-collection.html time=post.date %}

  {% if page.url == '/' %}
  <h3 class="p-name entry-title">
  {% else %}
  <h2 class="p-name entry-title">
  {% endif %}
    <a class="p-name__link u-url ga-entry-title" href="{{post.url}}" rel="bookmark">{{post.title}}</a>
  {% if page.url != '/' %}
  </h2>
  {% else %}
  </h3>
  {% endif %}

  <a class="overlay-link" href="{{post.url}}" aria-hidden="true" tabindex="-1">{{post.title}}</a>
</article>




