<aside class="l-colophon__wrapper" role="complementary">
  <div class="l-colophon__text">
    <h2 class="is-visuallyhidden" id="colophon-heading">Colophon</h2>

    <div class="faq">
      <h3 class="section-heading is-hidden">Quick facts</h3>
      <p class="h-card vcard"><span class="lead">Hi! I’m <span class="p-name fn">Aki<span class="is-visuallyhidden">&nbsp;Kärkkäinen</span></span> – </span> a consulting <a href="https://www.scrum.org/user/405331" class="p-role role">Scrum Master</a> and <a href="/work/" class="p-role role">UI Developer/Architect</a> helping teams create better digital products. I currently live in <span class="p-adr adr"><span class="p-locality locality">Copenhagen</span>, <span class="p-country-name country-name">Denmark</span></span>.</p>
    </div>

    <div class="l-actions l-center-align">
      <a href="/log/" class="btn btn-action ga-home-read-log">Read the log <span aria-hidden="true">→</span></a>
    </div>
  </div>
</aside>
