<nav aria-label="Browse log">
  <ul class="nav-posts">
    <li class="nav-posts__prev">
      {% if page.previous.url %}
        <a rel="prev" class="nav-posts__prevlink" title="Previous" href="{{page.previous.url}}"><span class="nav-log__text is-visuallyhidden" aria-label="Older posts">Prev</span></a>
      {% else %}
        <span class="nav-posts__prevlink nav-posts__prevlink--disabled"><span class="nav-log__text is-visuallyhidden" aria-label="Older posts">Prev</span></span>
      {% endif %}
    </li>

    <li class="nav-posts__next">
      {% if page.next.url %}
        <a rel="next" class="nav-posts__nextlink" title="Next" href="{{page.next.url}}"><span class="nav-log__text is-visuallyhidden" aria-label="Newer posts">Next</span></a>
      {% else %}
        <span class="nav-posts__nextlink nav-posts__nextlink--disabled"><span class="nav-log__text is-visuallyhidden" aria-label="Newer posts">Next</span></span>
      {% endif %}
    </li>
  </ul>
</nav>