---
title: Places where I've lived, part 7 - Brussels
excerpt:
date: '2021-04-28 08:27:39 +0100'
categories:
- Motivation
- General
- Traveling
- Photography
- Brussels
image:
  path: /assets/images/social/places_brussels.jpg
---
<figure>
  <img src="/assets/images/posts/places_brussels_1000w.jpg" alt="" />
  <figcaption>
    <p class="figcaption">Saint-Josse, Brussels (2005). <i>Photo by Aki Kärkkäinen.</i></p>
  </figcaption>
</figure>
<h2>Brussels, Belgium, 2003-2010</h2>
{% include navigation-places-intro.html placecount="Seven" %}
<p>Brussels - the love child of European integration, or an overcrowded bureaucratic mess of a city? The truth is perhaps somewhere in the middle, or in the eye of the beholder.</p>
<p>You're close to everything: other European cities, great restaurants, great cultural scene, best chocolate & beers & fries in the world, great job opportunities, and great healthcare system. However, with that, you also get too many cars, too many people, pollution, and constant noise. I've written about this a few times before. See for example <a href="/log/2007/06/17/brussels/">Our man in Brussels</a> and <a href="/log/2008/12/28/my-brussels-one-year-later/">My Brussels, one year later</a>.</p>
<p>The more I discovered Brussels during the years I worked there, the more I liked it, up until the point when I started to miss nature and my friends & family in the Nordics. I still like Brussels - I just couldn't see myself living there the rest of my life.</p>
<p>I chose this photo (from Saint-Josse where we lived, 2005) to highlight that Brussels is a city of contrasts and contradictions - it's a city of light and shadows. Its beauty is not always apparent and visible, but once you get through the layers and past the linguistic divide (three official languages, it's complicated) and find it, you'll be rewarded. Most of all, Brussels is a city of culture and art. It can't be a coincidence that Belgian artists have contributed so much to Surrealism.</p>
<p>In my freetime I sometimes played Go strategy board game at <a href="https://greenwich-cafe.be/en">Le Greenwich</a> - the same Belle Époque tavern where <a href="https://en.wikipedia.org/wiki/Ren%C3%A9_Magritte">René Magritte</a>, the famous Belgian surrealist artist, used to play chess with other locals :) I'm a big fan of his work. <a href="https://lafleurenpapierdore.be/">La Fleur en Papier Doré</a> is another bar where the Belgian surrealists often met each other, along with Hergé, Jacques Brel and others. It was fascinating to visit these places and breathe in the atmosphere (unthinkable in coronavirus times!).</p>

{% include navigation-places.html %}