---
title: Places where I've lived, part 8 - Copenhagen
excerpt:
date: '2021-04-30 09:07:39 +0100'
categories:
- Motivation
- General
- Traveling
- Photography
- Copenhagen
image:
  path: /assets/images/social/places_copenhagen.jpg
---
<figure>
  <img src="/assets/images/posts/places_copenhagen_1000w.jpg" alt="" />
  <figcaption>
    <p class="figcaption">Frederik's Church & Amalienborg Palace, Copenhagen (2009). <i>Photo by Aki Kärkkäinen.</i></p>
  </figcaption>
</figure>
<h2>Copenhagen, Denmark, 2010–2019.</h2>
{% include navigation-places-intro.html placecount="Eight" %}
<p>A big part of integration in any country is local language. I studied Danish and really tried to get a grasp of it while working in English-speaking companies, ranging from startups to enterprises. I was a bit naive and thought knowing Swedish would help. How wrong I was! Reading, yes, listening, yeah, a bit, but speaking - no. Danish is a bit like French in that you have to learn two languages in one: the written and the spoken version. In the spoken version, you leave half of the written letters out - and then just replace the remaining letters with some others. The "soft D" comes to mind.</p>
<p>The Danes I met were not afraid of difficult conversations. Communication is carried out in a direct, in-your-face, no-nonsense style which I learned to appreciate only later :) At the time it just put me off, as it felt too rude and too bold (but considered normal in Denmark). I believe this is because some Danes translate the way they speak Danish - or make a joke - literally, word by word into English. This often results in awkward moments when subtle nuances get lost in translation ("you forgot to say please!"). The good thing is that you don't need to interpret the message as it's delivered in plain language.</p>
<p>I see Denmark's culture as a vibrant, interesting and unique mix of Scandinavian, Central European and Latin cultures, with a touch of Silicon Valley boldness - a mix of conservative and progressive, in no particular order :) However, my point of view is somewhat limited as I lived and worked only in the capital, Copenhagen.</p>
<p>To conclude, I admire the pragmatism and the action-oriented product culture of Copenhagen/Denmark. There's a lot to learn from the Danes, and for that, you need to speak Danish (beyond the superficial "hygge"). Otherwise you're just a foreigner in the country, living in a bubble, even if most Danes like speaking English.</p>

{% include navigation-places.html %}