---
title: Places where I've lived, part 9 - Malmö
excerpt:
date: '2021-05-02 10:26:33 +0100'
categories:
- Motivation
- General
- Traveling
- Photography
- Malmo
- Sweden
image:
  path: /assets/images/social/places_malmo.jpg
---
<figure>
  <img src="/assets/images/posts/places_malmo_1000w.jpg" alt="" />
  <figcaption>
    <p class="figcaption">Turning Torso, Malmö (2008).<i>Photo by Aki Kärkkäinen.</i></p>
  </figcaption>
</figure>
<h2>Malmö, Sweden, 2019–</h2>
{% include navigation-places-intro.html placecount="Nine" %}
<p>If in Denmark the delivery is sometimes lost in translation, then in Sweden the message is lost in consensus. In general, to agree is not always necessary; to be heard, and to commit to a decision together within a timebox is. In Sweden, the challenge is that the consensus is sometimes more important than the timebox and the goal.</p>
<p>Many Swedes are afraid of difficult conversations or voicing their disagreement (much more than Danes are, for example). It's challenging, I agree, but avoiding plain language ("klarspråk/-text") can lead to different interpretations, as the intended message from the sender to the receiver is not clear. To decode the message, you first need to interpret what was being said, and then, figure out the intention behind it. Stonewalling is not uncommon either – in fact, it's a common way of disagreeing in Sweden.</p>
<p>There's a lot to love in Sweden. However, Sweden's ignorant and hubristic response to the world's worst crisis since the Second World War has exposed the country's worst weaknesses instead, casting a long shadow on the good things. All the non-Swedes I've talked to are either in complete shock about this, or already moved out of the country. We've watched with horror as the catastrophe unfolded, driven by egocentric, prestige-hungry irresponsible individuals and supported by herd mentality, all the while witnessing how the crisis is better managed by the more humble and competent leaders in our native countries. One can only hope that Sweden emerges from this tragedy as a better version of itself.</p>
<p>This post concludes the nine-part series of The Places Where I've Lived. So what have I learned? This, for example:</p>
<ul>
  <li>Be vulnerable and show empathy for others</li>
  <li>Be aware of the stories you tell yourself</li>
  <li>Be useful</li>
  <li>Stay curious</li>
</ul>
</p>We can imagine the future, but all we have is now. Lack of certainty is strength; certainty is arrogance.</p>

{% include navigation-places.html %}