/* ==========================================================================
   @group Article
   ========================================================================== */

@import "../../mixins/cover-absolutely";

// Article wrapper
.h-entry {
  &--in-collection {
    background: #fff;
    position: relative;

    display: flex;
    flex-direction: column;
    width: 100%;

    .e-content {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
    }

    transition: all $transition-duration linear;
    text-decoration: solid underline transparent 1px;
    &:hover {
      .p-name__link {
        color: rgba($color-text-dark, 1);
        text-decoration: solid underline $color-text-dark 2px;
      }
    }
  }
}

.e-content {
  &--single {
    word-break: break-word;
    @include margin(0, $base-line-height);

    @include respond-to($breakpoint-medium) {
      @include margin(0, $base-line-height * 2);
    }
  }
}

.l-heading {
  padding-top: $navbar-height + $base-line-height;
}

.read-more-wrapper {
  margin-top: auto;
}

.overlay-link {
  @include cover-absolutely();
  z-index: 1;
  border-bottom: 0;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  visibility: visible;

  &:hover, 
  &:focus {
    border-bottom: none;
  }
}

.read-more {
  @include size-and-leading(16, $base-line-height);
  padding: 6px 0;
  // margin-top: -27px;
  display: inline-block;
  vertical-align: middle;
  color: $color-text-dark;
  border-bottom: none;
  font-weight: $font-weight-bold;
  overflow: hidden; // TO make sure the focus ring respects layout

  &::after {
    content: '';
    display: block;
    height: 2px;
    background-color: $color-main;
  }

  &:focus,
  &:hover,
  &:active {
    color: $color-main;

    &::after {
      background-color: $color-main;
    }
  }
}

.articles {
  // Equal height items
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$gutter) relative-size($base-line-height);

  // Custom responsive grid
  &__item {
    flex: 0 0 100%;
    display: flex;
    word-break: break-word;
  }

  @include respond-to($breakpoint-small) {
    &__item {
      flex: 0 0 calc(50% - #{$gutter * 2});
      border-bottom: 1px solid $color-border;
      margin: 0 $gutter;
      padding: $gutter * 2 0;
    }
  }

  @include respond-to($breakpoint-medium) {
    &__item {
      flex: 0 0 calc(33.3333% - #{$gutter * 2});
    }
  }

  &--home {
    .articles__item {
      @include respond-to($breakpoint-medium) {
        flex: 0 0 50%;
      }
    }
  }
}

// Intro text (About, Work)
.text-intro {
  @include respond-to($breakpoint-medium) {
    @include size-and-leading(24, 36);
  }

  @include respond-to($breakpoint-large) {
    @include size-and-leading(30, 50);
  }
}