/* ==========================================================================
   @group Clients
   ========================================================================== */

.clients {
  list-style-type: none;
  padding: 0;
  @include margin($base-line-height);

  @include respond-to($breakpoint-medium, max) {
    text-align: left;
  }   

  &__item {
    display: inline-block;
    margin: 5px; 
    
    @include respond-to($breakpoint-medium) {
      margin: 13px;
    }
  }

  &__link {
    display: block;
    padding: 8px;
    border-bottom: none;
    white-space: normal;

    &--eca {
      background: rgb(17, 138, 203);
    }

    &--svenskateatern {
      background: $color-text-dark;
    }

    &:focus, 
    &:hover {
      border: none;
    }
  }

  &__logo {
    height: 35px;
    width: auto;

    @include respond-to($breakpoint-medium) {
      height: 50px;
    }
  }
}