/* ==========================================================================
   @group Masthead
   ========================================================================== */

// h1 on homepage, div on subpages
.masthead {
  margin: 0;
}

.masthead.l-cell-5 {
  @include respond-to($breakpoint-medium) {
    width: 61%; // Duplicate rule, to deal with specificity
  }
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: rgba(255, 255, 255, 1);
  box-shadow: $box-shadow;
}

.faq .vcard {
  // 1. Mobile first
  @include size-and-leading(21, 36);
  @include margin(0, $base-line-height / 2);
  text-align: center;

  // 2. max-height and min-width
  @media only screen and (min-width: $breakpoint-medium) and (max-height: $breakpoint-small) {
    @include size-and-leading(24, 36);
  }

  // 3. min-height and min-width
  @media only screen and (min-width: $breakpoint-medium) and (min-height: $breakpoint-small) {
    @include size-and-leading(36, 50);
  }
}

.lead,
.lead strong {
  font-weight: $font-weight-bold;
}

.lead {
  // 1. Mobile first
  @include size-and-leading(36, 36);
  @include margin($base-line-height / 2, $base-line-height / 4);
  display: block;

  // 2. max-height and min-width
  @media only screen and (min-width: $breakpoint-medium) and (max-height: $breakpoint-small) {
    // @include size-and-leading(36);
    @include size-and-leading(48, 36);
    @include margin($base-line-height / 2, $base-line-height / 2);
  }

  // 3. min-height and min-width
  @media only screen and (min-width: $breakpoint-small) and (min-height: $breakpoint-small) {
    @include size-and-leading(48, 48);
  }

  @media only screen and (min-width: $breakpoint-medium) and (min-height: $breakpoint-small) {
    // @include size-and-leading(48, 36);
    @include size-and-leading(60, 60);
    @include margin($base-line-height / 2, $base-line-height / 2);
  }
}
