/* ==========================================================================
   @group Nav-log
   ========================================================================== */

// Single post and category navigation (generic).
.nav-log {
  @include links-with-custom-style();

  // Override and customize mixin for categories
  &--categories {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0; // Override
    @include padding(0, $base-line-height / 2);

    @include respond-to($breakpoint-medium) {
      margin: 0 -15px;
    }

    li > a {
      text-transform: uppercase;
      letter-spacing: .02rem;
      font-weight: $font-weight-regular; // Override
      @include size-and-leading(16, $base-line-height);
      padding: 4px 10px;

      @include respond-to($breakpoint-medium) {
        @include size-and-leading(18, $base-line-height);
        padding: 6px 15px;
      }

      &::before {
        content: "#";
        letter-spacing: .05rem;
        color: rgba(0, 0, 0, .5);
      }
    }

    .current-cat > a,
    li > a:focus,
    li > a:hover,
    li > a:active {
      color: $color-main;

      &::after {
        background-color: $color-main;
      }
    }

  }

  // Override and customize mixin for posts navigation (prev/next)
  &--posts {
    margin: 0; // Override
  }

  &--posts &__next {}

  &--posts &__pagination {
    @include size-and-leading(16, $base-line-height);
    padding: 6px 10px;
  }

  &--home {
    text-align: center;
    @include padding($base-line-height);
    margin: relative-size($base-line-height) 0 0;
  }
}
