/* ==========================================================================
   @group Projects
   See https://clearleft.com/posts/an-equal-height-grid-using-flexbox
   ========================================================================== */

@import "../../mixins/cover-absolutely";

.projects-intro {
  @include respond-to($breakpoint-medium) {
    @include size-and-leading(24, 36);
  }

  @include respond-to($breakpoint-large) {
    @include size-and-leading(30, 50);
  }
}

.projects {
  list-style-type: none;
  padding: 0;

  // Equal height items
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  // Custom responsive grid
  &__item {
    flex: 0 0 100%;
    padding: 15px;
    display: flex;
  }

  @include respond-to($breakpoint-small) {
    &__item {
      flex: 0 0 50%;
    }
  }

  @include respond-to($breakpoint-medium) {
    &__item {
      flex: 0 0 33.3333%
    }
  }

  // Main link wrapper for mouse users
  .block-link {
    position: relative; // For overlay link
    background: $color-white;

    @include respond-to($breakpoint-small) {
      display: flex;
      flex-direction: column;
    }

    &__overlay-link {
      @include cover-absolutely();
      z-index: 1;
      border-bottom: 0;
      overflow: hidden;
      text-indent: 200%;
      white-space: nowrap;
      visibility: visible;
    }

    transition: box-shadow $transition-duration linear;

    &:hover {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 0 20px rgba(0, 0, 0, .05);
    }
  }

  // Details wrapper
  &__description {
    @include respond-to($breakpoint-small) {
      flex: 1 0 auto;
    }
  }

  // Image
  &__thumbnail {
    border-bottom: none;
  }

  // Project title
  &__heading {
    margin: 0 10px;
    text-transform: uppercase;

    @include respond-to($breakpoint-small, max) {
      overflow: hidden; // Make sure text doesn't wrap around the image
    }
  }

  // Main project link for keyboard users
  .projects__link {
    position: relative;
    z-index: 2;
    display: inline-block;

    @include padding($base-line-height / 2, $base-line-height / 4);
    margin-top: relative-size($base-line-height / 4);

    &:focus,
    &:hover {
      color: $color-text-dark;
    }

    &:after {
      content: '';
      display: block;
      height: 3px;
      transition: background $transition-duration linear;
    }
  }

  .projects__link:focus:after {
    background: $color-text-dark;
  }

  // For mouse users only
  .block-link:hover .projects__link:after {
    background: $color-text-dark;
  }

  // Project description
  &__text {
    margin: 0 10px; // Override

    @include respond-to($breakpoint-small, max) {
      overflow: hidden; // Make sure text doesn't wrap around the image
    }
  }

  &__year {
    display: block;
    padding: 10px;
    line-height: 1;
    clear: left; // Clear floated image
    letter-spacing: .02em;
    margin-top: relative-size($base-line-height / 4);
    @include respond-to($breakpoint-small) {
      margin-top: relative-size($base-line-height / 2);
    }
  }
}
