/* ==========================================================================
   @group Styleguide display and source --Not for PROD.
   ========================================================================== */

/* 
 * Styleguide module heading.
 */
.heading-styleguide {
  color: $color-text-dark;
  border-bottom: relative-size(4) solid $color-border;
  padding: relative-size($base-line-height) 0 relative-size(6);
}

/* 
 * Module source wrapper.
 */
/*textarea*/.source-styleguide {
  width: 100%;
  border: 1px solid $color-border;
  overflow: auto;
  padding: relative-size($base-line-height);
  vertical-align: middle;
  @include size-and-leading(11, 16);
  font-family: $font-family-monospace;
  box-shadow: none;
  @include margin(0, $base-line-height);
  min-height: relative-size(72);
  border-radius: 4px;
  display: none;
  @include respond-to($breakpoint-medium) {
    display: block;
  }
}


/* Colors.
   ========================================================================== */
/* 
 * Color list.
 */
.colors-styleguide {
  padding: 0;
}

/* 
 * Color list items.
 */
.colors-styleguide li {
  display: inline-block;
  @include margin(0, 4);
  border: 1px solid $color-border;
  padding: relative-size($base-line-height);
}

.colors-styleguide-1 {
  background: $color-main;
}

.colors-styleguide-2 {
  background: $color-complementary;
}

.colors-styleguide-3 {
  background: $color-background;
}

.colors-styleguide-4 {
  background: $color-border;
}

.colors-styleguide-5 {
  color: $color-text-dark;
  background: $color-white;
}

.colors-styleguide-6 {
  color: $color-text-light;
  background: $color-white;
}

// Links
.color-link-default {
  color: $color-link-default;
}

.color-link-visited {
  color: $color-link-visited;
}

.color-link-hover {
  color: $color-link-hover;
}

.color-link-active {
  color: $color-link-active;
}


/* Type.
   ========================================================================== */
.font-family-sans-serif {
  font-family: $font-family-sans-serif;
}

.font-family-serif { 
  font-family: $font-family-serif;
}

.font-family-monospace { 
  font-family: $font-family-monospace;
}


/* Temp grid visualizations for the Style Guide module.
   ========================================================================== */
/* First level cells */
.l-row-styleguide .l-cell {
  border: 1px solid $color-border;
}
/* Nested cells */
.l-row-styleguide .l-cell .l-cell {
  border: none;
}

/* Module box */
.module {
  outline: 1px dashed #ccc;
  padding: relative-size($base-line-height/2) relative-size($base-line-height);
  @include margin($base-line-height / 2);
}