---
layout: default
---

<section>
  <div class="l-heading">
    {% if page.pagetype == 'category' %}
    {% capture title %}
      Archive for the <mark>{{page.category}}</mark> category
    {% endcapture %}
    {% else %}
      {% assign title = page.title %}
    {% endif %}

    <h1 class="l-constrained p-name">{{title}}</h1>
  </div>

  <div class="l-constrained">

    {% if page.url == '/log/' or page.pagetype == 'category' %}
    <div class="l-row">
      <div class="l-cell l-cell-8">
        <p class="text-intro">Short notes and articles I’ve written, and links to interesting pieces by others.</p>
      </div>
    </div>
    {% endif %}

    {% include categories-in-collection.html %}
    <div class="articles">
    {% if page.pagetype == 'category' %}
      {% assign items = site.categories[page.category] %}
    {% else %}
      {% assign items = site.posts %}
    {% endif %}

    {% for post in items %}
      <div class="articles__item">
        {% include article.html %}
      </div>
    {% endfor %}
    </div>
  </div>
</section>
